<!DOCTYPE html>
<html>
<head>
    <title>PassCom!</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        // escolhe a companhia e salvar o servidor no localStorage
        function escolherServidor(porta) {
            localStorage.setItem("portaServidor", porta);
            document.getElementById("opcoesAcesso").style.display = "block";
        }

        function acessarPagina(rota) {
            const portaServidor = localStorage.getItem("portaServidor");
            if (portaServidor) {
                window.location.href = `/${rota}`;
            } else {
                alert("Por favor, selecione um servidor primeiro.");
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao PassCom!</h1>
        
        <h2>Escolha o Servidor</h2>
        <button onclick="escolherServidor(5000)">Companhia A</button>
        <button onclick="escolherServidor(5001)">Companhia B</button>
        <button onclick="escolherServidor(5002)">Companhia C</button>
        
        <div id="opcoesAcesso" style="display:none; margin-top: 20px;">
            <h2>Escolha a Opção</h2>
            <button onclick="acessarPagina('login')">Login</button>
            <button onclick="acessarPagina('registrar')">Registrar-se</button>
        </div>
    </div>
</body>
</html>
