<!DOCTYPE html>
<html>
<head>
    <title>Registrar</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Cadastro</h2>
        <form id="register-form">
            <label for="login">Nome de usuário:</label>
            <input type="text" id="login" name="login" required><br>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required><br>

            <button type="submit">Registrar</button>
        </form>

        <script>
            document.getElementById('register-form').addEventListener('submit', async function(event) {
                event.preventDefault();
                
                const loginField = document.getElementById('login');
                const passwordField = document.getElementById('password');
                
                // verifica se os campos existem
                if (!loginField || !passwordField) {
                    console.error("Os campos de login ou senha não foram encontrados.");
                    return;
                }

                const portaServidor = localStorage.getItem("portaServidor");
                const login = loginField.value;
                const password = passwordField.value;

                try {
                    const response = await fetch(`http://localhost:${portaServidor}/register-all`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ login, password })
                    });

                    const result = await response.json();

                    if (response.ok) {
                        alert('Registro bem-sucedido!');
                        window.location.href = "/login";
                    } else {
                        alert('Erro: ' + (result.message || 'Não foi possível registrar.'));
                    }
                } catch (error) {
                    console.error('Erro na requisição:', error);
                    alert('Ocorreu um erro ao tentar registrar.');
                }
            });
        </script>
    </div>
</body>
</html>
